* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #74992e;
  background-image: url(https://img.freepik.com/free-vector/gradient-football-field-background_23-2149020282.jpg?w=996&t=st=1661456936~exp=1661457536~hmac=672ec3ec6314c499e676560e4ddefacb3529e40eaf1ad421ba9af31a530994f2);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.App {
  max-width: 100%;
  height: 100vh;
}

.navbar {
  width: 100%;
  height: 10vh;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-container {
  width: 100%;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

img {
  width: 350px;
  height: 250px;
  border: 1px solid #f33333;
  border-radius: 5px;
}

.video-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 20px 0;
  transition: all 0.5s ease;
}

.video-div:hover {
  transform: scale(1.1);
}

.footer {
  width: 100%;
  height: 10vh;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.soccer {
  background: url(http://upload.wikimedia.org/wikipedia/en/e/ec/Soccer_ball.svg);
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  position: relative;
  -webkit-animation: roll 4.5s infinite;
  -moz-animation: roll 4.5s infinite;
  animation: roll 4.5s infinite;
}

@-moz-keyframes roll {
  0% {
    left: 0px;
    -webkit-transform: rotate(-360deg);
  }
  50% {
    left: 100px;
    -webkit-transform: rotate(360deg);
  }
  100% {
    left: 0px;
    -webkit-transform: rotate(-360deg);
  }
}
@-webkit-keyframes roll {
  0% {
    left: 0px;
    -webkit-transform: rotate(-360deg);
  }
  50% {
    left: 100px;
    -webkit-transform: rotate(360deg);
  }
  100% {
    left: 0px;
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes roll {
  0% {
    left: 0px;
    -webkit-transform: rotate(-360deg);
  }
  50% {
    left: -400px;
    -webkit-transform: rotate(360deg);
  }
  100% {
    left: 0px;
    -webkit-transform: rotate(-360deg);
  }
}

.world-cup {
  color: #82ae6f;
  text-align: center;
}
